section h1 {
    color: black;
    font-size: 38px;
}

section p { 
    color: black;
    font-size: 22px;
}

section h1, p {
    text-align: center;
}

section   .form-contato {
    margin:0 auto;
    width: 800px;
    display: block;
    margin-bottom: spx;
}

section  .input-contato {
    height: 20px;
    width: 300px;

}

section  .form-inline div {
    display: inline-block;
    margin: 10px;
}

section  .form-inline  .textarea-contato {
    width: 625px;
    margin: none;
}

section label {
    font-size: 20px;
    display: block;
}

.form-inline  .botao-contato {
    background-color: #ffb90f;
    font-size: 20px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

input[type="email"]:focus {
    color: rgb(93, 144, 185);
}